@define-color foreground {{foreground.hex}};
@define-color background {{background.hex | auto_lightness: -5.0}};

#workspaces button:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
  border-radius: {{border.radius}}px;
}

.modules-left,
.modules-right {
  margin: 0 {{gaps.out}};
}
