@define-color foreground #c0caf5;
@define-color background #101017;

#workspaces button:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
  border-radius: 0px;
}
