@define-color foreground #cdd6f4;
@define-color background #14141f;

#workspaces button:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
  border-radius: 20px;
}

.modules-left,
.modules-right {
  margin: 0 6;
}
