@define-color foreground #e0def4;
@define-color background #0e0d14;

#workspaces button:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
  border-radius: 12px;
}
