@define-color foreground #c7c7c7;
@define-color background #121212;

#workspaces button:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
  border-radius: 0px;
}
