@define-color foreground #ebdbb2;
@define-color background #1f1a17;

#workspaces button:hover,
#workspaces button.active,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
  border-radius: 12px;
}
